NODE_ENV=development
PORT=3001

DATABASE_HOST=localhost
DATABASE_PORT=1029
DATABASE_USERNAME=kamal
DATABASE_PASSWORD=kamalov-tourland
DATABASE_NAME=tourland

JWT_SECRET=kamalov-tourland
JWT_EXPIRES_IN=7D

REDIS_HOST=localhost
REDIS_PORT=6379
